body{
    background-color: aquamarine;
}
.bayan{
    padding:30px;
    background:#fff;
    width:500px;
    border-radius: 5px;
    box-sizing:border-box;
    margin: 0 auto;
}
.bayan{
    font-family:'Open-sans',Arial,sans-serif;
}
.name{
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    font-size: 22px;
    font-weight: 400;
    box-sizing: border-box;
}
.bayan span{
    float: right;
    font-size: 30px;
  }
  .close .bayan{
    height:0px;
  }
  .content{
    margin: 0px 70px;
  }
  