body{
    background: cornflowerblue;
    height: 100%;
}
.bayan{
    padding:0;
    background: rgb(223, 209, 13);
    width:50%;
    box-sizing:border-box;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 1.2rem;
    transition: 0.4s;
}
.bayan{
    font-family:'Open-sans',Arial,sans-serif;
    transition: 0.4s;
}
.bayan_content img{
    cursor:pointer;
    width: 45%;
    margin: 0 25%;
}
.name{ 
    display: block;
    cursor:pointer;
    margin-bottom: 1.2rem;
    padding:10px;
    font-size: 150%;
    font-weight: 600;
    box-sizing: border-box;
}
.bayan span{
    float: right;
    font-size: 30px;
}
.bayan_mem:hover ~ .name{
    background-color: rgb(233, 220, 34);
    transition: 0.4s;
}
.name:checked ~ .radio_first{
    transform: rotate(0deg);
    
}

.bayan_content {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
    
}
.bayan_mem{
    position: absolute;
    display: none;
}
.bayan_mem:checked ~ .bayan_content {
    clip: auto;
	height: auto;
	margin: auto;
	overflow: visible;
	position: static;
	white-space: normal;
	width: auto;
    padding: 1.2rem;
    transition: 0.5s;
}
.bayan_mem:hover ~ .bayan_content {
    clip: auto;
	height: auto;
	margin: auto;
	overflow: visible;
	position: static;
	white-space: normal;
	width: auto;
    padding: 1.2rem;
    animation: fadeIn ease-in 0.5s;
    transition: 1s;

}


@media screen and (max-width: 900px) {
    
    .name{ 
        margin-bottom: 1.2rem;
        padding:10px;
        font-size: 100%;
        font-weight: 500;
        box-sizing: border-box;
    }

    .bayan span{
        float: right;
        font-size: 20px;
    }

}

@media screen and (max-width: 751px){

    .bayan{
        padding:0;
        background: rgb(223, 209, 13);
        width:75%;
        box-sizing:border-box;
        margin: 0 auto;
        list-style: none;
        margin-bottom: 1.2rem;
    }

}

@media screen and (max-width: 395px){

    .bayan{
        width:85%;
    }

}

@media screen and (max-width: 359px){
    .name{ 
        margin-bottom: 1.2rem;
        padding:10px;
        font-size: 100%;
        font-weight: 100;
        box-sizing: border-box;
    }

    .bayan span{
        float: right;
        font-size: 10px;
    }

    .bayan_content img{
        width: 75%;
        margin: 0 10%;
    }

}

@media screen and (max-width: 331px){
    .bayan{
        width:95%;
    }
}

@media screen and (max-width: 331px){
    .name{ 
        margin-bottom: 1 rem;
        padding: 5px;
        font-size: 80%;
        font-weight: 400;
        box-sizing: border-box;
    }
}